.job-running {
	background-color: @color-secondary; 
}

.job-completed {
	background-color: @color-success; 
}

.job-canceled {
	background-color: @color-warning; 
}

.job-error {
	background-color: @color-error; 
}