@import "imports";

.file-manager-popup {
	.mf-popup {
		max-width: 74em;
	}
}

.mf-file-upload {
	@size: 150px;

	input[type="file"] {
		width: 300px;
		display: block;
		clear: both;
	}

	ul {
		.blocks(3);
		.blocks(4, @width-sm, 1em);
		.blocks(5, @width-lg, 1em);
		.blocks(6, @width-xl, 1em);

		li {
			button {
				padding: @control-padding-v !important;
				margin: 1px;
				line-height: 1;
			}
		}
	}

	.template {
		display: none !important;
	}

	.upload,
	.img-item {
		position: relative;
		min-width: @size;
		min-height: @size;
		line-height: @size - 2px;
		text-align: center;
		overflow: hidden;
		vertical-align: middle;
		border: solid 1px @color-border;
		border-radius: @control-border-radius;
		background: white;

		> a > img,
		> img {
			width: 100%;
			vertical-align: middle;
		}

		.progress {
			.buttons {
				&:hover {
					opacity: 0 !important;
				}
			}
		}

		.buttons {
			position: absolute;
			top: 0;
			opacity: 0;
			display: none;
			height: 100%;
			width: 100%;
			background-color: fade(black, 40%);
			.transition(opacity @transition-duration);

			&:hover {
				opacity: 1;
			}

			button {
				color: white;

				> i {
					color: white;
				}

				&:hover {
					border-color: white;
				}
			}
		}

		&.drag-placeholder {
			box-sizing: content-box;
		}

		.name-holder {
			line-height: 1.5;
		}
	}


	.file-item {
		&:extend(input[type="text"] all);
		padding: @control-padding-v 2em;
		min-width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;

		> button {
			position: absolute;
			.pull-middle();
		}

		.sort {
			left: 0;
		}

		.delete {
			right: 0;
		}

		&.drag-placeholder, &[data-origstyle] {
			box-sizing: content-box;
		}
	}

	.upload {
		border-color: transparent;
		.transition(border @transition-duration ease-in-out);
		position: relative;

		&:hover {
			border-color: @color-secondary;

			> i {
				color: @color-secondary;
			}
		}

		> input {
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
		}

		> i {
			.pull-middle();
			position: absolute;
			font-size: 4em;
			right: 0;
			left: 0;
			color: @color-border;
			.transition(color @transition-duration ease-in-out);
		}
	}
}
