@import "imports";

.mf-filter {
	margin-bottom: 0.5em;

	[class|='col'] {
		padding-right: 1em;
	}

	.mf-toolbar + & {
		margin-top: -0.5em;
	}

	.controls {
		padding-top: 1.45em;
	}

	.select2-container {
		.select2-choice,
		.select2-choices {
			min-height: 37px;
			width: 100%;
		}
	}

	> label,
	> section {
		input {
			margin: 0.25em 0;
		}
	}
}

.mf-toolbar {
	margin-bottom: 1em;
}

.mf-toolbar-bottom {
	margin-top: 0.5em;
}

.mf-toolbar-right {
	position: absolute;
	top: 0;
	right: 0;
	line-height: @line-height;
}

.validation-summary-valid,
.validation-summary-errors {
	> ul {
		margin-bottom: 0;
	}
}

.validation-summary-errors {
	&:extend(.alert all);
	&:extend(.alert.error all);
}

.drag-placeholder, [data-placeholder] {
	background-color: @drag-bg !important;
	border: @drag-border !important;
	text-align: center;
	color: white;
	opacity: 0.8;
}

.form > .controls.sticked {	
	margin-bottom: 0;
}

.mf-page-size {
	display: block;
	float: right;
	
	white-space: nowrap;
	margin-bottom: @line-height;
	
	> label:after {
		content: ":";
	}
}

ul.mf-legend {
	display: block;
	margin: 0;
	text-align: center;

	> li {
		display: inline-block;
		padding: 0 .5em;

		> span {
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: -(@line-height - 1em) / 2;
		}
	}
}