@btn-icon-size: 20px;
.toolbar {
		letter-spacing: -4px;
		//represent one logical group of edit functions
        > section,
		> div {
			display: inline-block;
			border-right: 1px solid @color-border;
			margin: 0.5em 0;
			padding: 0 0.2em;
            &:last-child{
                border-color: transparent;
                padding-right: 0;
            }
			button {
				padding: 0.4em;
				margin-right: 0.2em;

				&:last-child {
					margin-right: 0;
				}

				i {
					font-size: 14px;
					width: @btn-icon-size;
					height: @btn-icon-size;
					line-height: @btn-icon-size;
					display: inline-block;
                    letter-spacing: 0;
				}
			}
		}
	}