@import "../../fresh-css/src/variables.less";

// Buttons
@btn-icon-padding:	@control-padding-v 0.7em;

// Drag
@drag-bg:			lighten(@color-secondary, 20%);
@drag-border: 		1px dashed @color-gray;
@over-bg: 			rgba(255, 255, 255, 0.7);

// Admin
@admin-bg: 			rgba(255, 255, 255, 0.9);
@admin-border: 		solid 1px @color-light;