@import "../../fresh-css/src/variables.less";

// Drag
@drag-bg: lighten(@color-secondary, 20%);
@drag-border: 1px dashed @color-gray;
@over-bg: rgba(255, 255, 255, 0.7);

// Admin
@admin-bg: rgba(255, 255, 255, 0.9);
@admin-border: solid 1px @color-light;

//controls
@control-padding: 0.5em 0.6em;
@line-height: 1.2em;
//@line-height: 1.5em;
//buttons
@btn-padding: @control-padding;
@btn-transition: @link-transition;
@btn-link-hover-bg: @color-light;

//header for focus layout or public layout
@header-border-width: 3px;
@header-border: @header-border-width solid @color-light;