# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# OS X temporary files
.DS_Store
._.DS_Store
._*

# Packages
packages/
node_modules/
bower_components/
lib/

# Others
*.[Cc]ache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
debugSettings.json
artifacts/