# User-specific files
*.suo
*.user

# IDE directories
*.ide
.vs
artifacts

# OS X temporary files
.DS_Store
._.DS_Store
._*

# Packages
packages
node_modules
bower_components
lib

# Others
*.[Cc]ache
[Ss]tyle[Cc]op.*
~$*
*~
.temp