@import '../pure.less';

html {
	background-color: white;
	padding: 2em;

	@media screen and (min-width: @width-sm) {
		padding: 4em;
	}
}

body {
	.pull-center;
	background: white;
	max-width: @width-sm;
	height: auto;

	> header {
		//color: @color-secondary;
		border-bottom: @header-border;
		margin-bottom: 1em;
		padding-bottom: 0.8em;
		text-align: center;
		/*.logo {
			font-size: 2em;
		}

		h1 {
			margin: 0;
		}*/
	}

	> footer {
		margin-top: 2em;
		text-align: center;
	}

	@media screen and (min-width: @width-sm) {
		padding: 2em;
		.border-radius(@control-border-radius);
		.box-shadow(0 0 50px @color-light);

		.header {
			margin-bottom: 2em;
		}
	}
}